* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-symbols-outlined {
  color: rgb(96, 96, 96);
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.header-left {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.header-left > img {
  width: 100px;
  margin-left: 20px;
}

.navbar i {
  padding: 0px 7px;
  cursor: pointer;
}

.header_search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_search input {
  height: 40px;
  width: 650px;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.097);
}
.header_search i {
  display: flex;
  align-items: center;
  height: 40px;
  border: 0.5px solid rgba(0, 0, 0, 0.076);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
}

.mic {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.064);
  border-radius: 100%;
}

.main_content {
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 100vh;
}
aside i {
  cursor: pointer;
}

aside p {
  font-size: 10px;
  margin-bottom: 30px;
}

.nav2 {
  display: flex;
  width: 94vw;
}

.nav2 button {
  margin-left: 10px;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  padding: 9px;
}

.video_section {
  display: flex;
  width: 94vw;
  height: auto;
  margin-top: 20px;
}

.video_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 20px;
}
.video_cards .card {
  width: 350px;
  height: 300px;
  border-radius: 10px;
}

.video_cards .card img {
  width: 350px;
  height: 195px;
  border-radius: 10px;
}
.video_cards .card h3 {
  margin-inline: 20px;
}
